<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/header %>

  <!-- Main -->
  <div id="main">
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Left Sidebar Nav-->
        <% include partials/aside %>
      <!-- /Left Sidebar Nav-->
      <!-- Content -->
      <% include partials/loader %>

      <div id="cards-salas" class="row">
      </div>
      <!-- /Content-->
    </div>
    <!-- /Wrapper -->
  </div>
  <!-- /Main -->

  <% include partials/footer %>
  <script src="/js/cards-salas.js"></script>
</body>
</html>