<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/header %>

  <!-- Main -->
  <div id="main">
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Left Sidebar Nav-->
        <% include partials/aside %>
      <!-- /Left Sidebar Nav-->
      <!-- Content -->
      <div id="sala-loader" class="preloader-wrapper loader big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <div id="cards-salas" class="row">
      </div>
      <!-- /Content-->
    </div>
    <!-- /Wrapper -->
  </div>
  <!-- /Main -->

  <% include partials/footer %>
  <script src="/js/cards-salas.js"></script>
</body>
</html>