<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/header %>

    <!-- Main -->
    <div id="main">
      <!-- Wrapper -->
      <div class="wrapper">
        <!-- Left Sidebar Nav-->
        <% include partials/aside %>
          <!-- /Left Sidebar Nav-->
          <!-- Content -->
            <div class="container">
              <div class="section">
                  <% include partials/loader %>
                <div id="cards-salas" class="row">
                </div>
              </div>
            </div>
            <!-- /Content-->
      </div>
      <!-- /Wrapper -->
    </div>
    <!-- /Main -->

    <% include partials/footer %>
    <script src="/js/cards-salas.js"></script>
    <script>
      // active menu style
      $(function() {
        var pathname = window.location.pathname; 
        var page = pathname.split('/')[3];
        $(`#p_agenda_${page}`).addClass('selected');
        var $menu =  $('#p_agenda');
        $menu.find('a.collapsible-header').addClass('active');
        $menu.find('div.collapsible-body').css('display', 'block');   
      });
    </script>
</body>

</html>