<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
    <!-- Custome CSS -->
  <link href="/css/custom/custom.css" type="text/css" rel="stylesheet">
	<!-- Fullcalendar -->
	<link href="/fullcalendar/fullcalendar.css" type="text/css" rel="stylesheet"/>
	<link href="/fullcalendar/fullcalendar.min.css" type="text/css" rel="stylesheet" />
	<link href="/fullcalendar/fullcalendar.print.min.css" type="text/css" rel="stylesheet" media="print" />
</head>
<body>
  <% include partials/header %>

  <!-- Main -->
  <div id="main">
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Left Sidebar Nav-->
        <% include partials/aside %>
      <!-- /Left Sidebar Nav-->
      <!-- Content -->
      <section id="content">
 				<!--start container-->
        <div class="container">
          <div class="section">
            <div class="divider"></div>
            <h4 class="center">Agenda de atendimentos</h4>
            <div id="full-calendar">
              <div class="row">
                <div class="col s12 m4 l3">
                  <div id='external-events'>
                    <h4 class="header">Solicitações</h4>

                    <% if ( locals.data ) {
                      for (var row = 1; row < data.length; row++) { %>
                      <div class='fc-event grey'>
                        <%= data[row][2] %>
                      </div>
                      <!--VERIFICAR ALGUMAS COISAS PARA COLOCAR COR
                      Se for educação especial -> class = "green"
                      Se for encaminhamento -> class = "amber"
                      Se for Resolução 33 -> class = "blue"
                      tentei fazer if(data[row][6]) e não funcionou
                      -->

                      <% }; %>
                        <% } else { %>
                          <p>Data is empty</p>
                          <% } %>
                            <p>
                              <input type='checkbox' id='drop-remove' />
                              <label for='drop-remove'>remove after drop</label>
                            </p>
                  </div>
                </div>
                <div class="col s12 m8 l9">
                  <div id='calendar' class="calendar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Content-->
    </div>
    <!-- /Wrapper -->
  </div>
  <!-- /Main -->

  <% include partials/footer %>
  <!--Calendar-->
  <script src='/fullcalendar/lib/jquery-ui.min.js'></script>
  <script src='/fullcalendar/lib/moment.min.js'></script>
  <script src='/fullcalendar/fullcalendar.js'></script>
  <script src="/fullcalendar/locale/pt-br.js"></script>
  <script>
    $(document).ready(function () {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay,listWeek'
        },
        defaultView: 'agendaWeek',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        eventLimit: true, // allow "more" link when too many events
        weekends: false,
        events: [
          {
            title: 'Isabella',
            start: '2018-09-27T14:00:00',
            end: '2018-09-27T15:00:00',
            constraint: 'fixed',
            color: '#9c27b0'
          },
          {
            id: 'fixed'
          },
          {
            title: 'Rhauani',
            start: '2018-09-25T10:00:00',
            end: '2018-09-25T11:00:00',
            color: '#4caf50'
          },
          {
            title: 'Roger',
            start: '2018-09-28T11:00:00',
            end: '2018-09-28T12:00:00',
            color: '#03a9f4'
          },
          {
            title: 'Adriano',
            start: '2018-09-24T13:00:00',
            end: '2018-09-24T14:00:00',
            color: '#009688'
          },
          {
            title: 'Marinara',
            start: '2018-09-26T08:00:00',
            end: '2018-09-26T09:00:00',
            color: '#ff1744'
          },
          {
            start: '2018-09-24T00:00:00',
            end: '2018-09-24T08:00:00',
            overlap: false,
            rendering: 'background',
            color: '#ff9f89'
          },
        ],
        drop: function () {
          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
          }
        },
        selectable: true,
        selectHelper: true,
        select: function (start, end) {
          var title = prompt('Event Title:');
          var eventData;
          if (title) {
            eventData = {
              title: title,
              start: start,
              end: end
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
          }
          $('#calendar').fullCalendar('unselect');
        }
      });

      //ALUNOS QUE PREENCHEM FORMULÁRIO DE SOLICITAÇÃO - SEM COR (CINZA)
      /* initialize the external events
-----------------------------------------------------------------*/
      $('#external-events .fc-event.grey').each(function () {
        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
          title: $.trim($(this).text()), // use the element's text as the event title
          stick: true, // maintain when user navigates (see docs on the renderEvent method)
          color: '#9e9e9e'
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });

      //ALUNOS Resolução 33 / 2015) - COR AZUL
      $('#external-events .blue').each(function () {
        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
          title: $.trim($(this).text()), // use the element's text as the event title
          stick: true, // maintain when user navigates (see docs on the renderEvent method)
          color: '#2196f3'
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });

      //ALUNOS EDUCAÇÃO ESPECIAL - COR VERDE
      $('#external-events .green').each(function () {
        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
          title: $.trim($(this).text()), // use the element's text as the event title
          stick: true, // maintain when user navigates (see docs on the renderEvent method)
          color: '#4caf50'
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });

      //ALUNOS ENCAMINHADOS - COR AMARELO
      $('#external-events .amber').each(function () {
        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
          title: $.trim($(this).text()), // use the element's text as the event title
          stick: true, // maintain when user navigates (see docs on the renderEvent method)
          color: '#ffc107'
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });

      });

    });
  </script>

<%# data.forEach(function(row) { %>
  <%# row.forEach(function(col) { %>
    <td>
      <%#= col %>
    </td>
    <%# }); %>
      <%# }); %>
</body>
</html>



      