<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CAED UFSM | Administrativo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Materialize-->
<link href="/css/materialize.css" type="text/css" rel="stylesheet">
<link href="/css/style.css" type="text/css" rel="stylesheet">
<link href="/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<!--fullcalendar-->
<link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />
<link href='/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
<link href='/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<!-- Custome CSS-->
<link href="/css/custom/custom.css" type="text/css" rel="stylesheet">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">

<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
      <nav class="navbar-color gradient-45deg-light-blue-cyan">
        <div class="nav-wrapper">
          <ul class="left">
            <li>
              <h1 class="logo-wrapper">
                <a href="index" class="brand-logo darken-1">
                  <span class="logo-text hide-on-med-and-down">CAED UFSM</span>
                </a>
              </h1>
            </li>
          </ul>
          <div class="header-search-wrapper hide-on-med-and-down">
            <i class="material-icons">search</i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Pesquisar" />
          </div>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                Bem vindo(a) admin
              </a>
            </li>
          </ul>
          <!-- profile-dropdown -->
          <ul id="profile-dropdown" class="dropdown-content">
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">face</i> Perfil</a>
            </li>
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">settings</i> Configurações</a>
            </li>
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">live_help</i> Ajuda</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="logout" class="grey-text text-darken-1">
                <i class="material-icons">keyboard_tab</i> Sair</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- end header nav-->
  </header>
  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
          <li class="user-details cyan darken-2">
            <div class="row">
              <div class="col s8 m8 l8">
                <ul id="profile-dropdown-nav" class="dropdown-content">
                  <li>
                    <a href="#" class="grey-text text-darken-1">
                      <i class="material-icons">face</i> Perfil</a>
                  </li>
                  <li>
                    <a href="#" class="grey-text text-darken-1">
                      <i class="material-icons">settings</i> Configurações</a>
                  </li>
                  <li>
                    <a href="#" class="grey-text text-darken-1">
                      <i class="material-icons">live_help</i> Ajuda</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="logout" class="grey-text text-darken-1">
                      <i class="material-icons">keyboard_tab</i> Sair</a>
                  </li>
                </ul>
                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">John Doe
                  <i class="mdi-navigation-arrow-drop-down right"></i>
                </a>
                <p class="user-roal">Administrador</p>
              </div>
            </div>
          </li>
          <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
              <li class="bold">
                <a href="dashboard" class="waves-effect waves-cyan">
                  <i class="material-icons">dashboard</i>
                  <span class="nav-text">Dashboard</span>
                </a>
              </li>
              <li id="list-servidores" class="item-menu bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">group</i>
                  <span class="nav-text">Servidores</span>
                </a>
              </li>
              <li id="list-salas" class="item-menu bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">format_list_numbered</i>
                  <span class="nav-text">Salas</span>
                </a>
              </li>
              <li id="list-solicitacoes" class="item-menu bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">list</i>
                  <span class="nav-text">Solicitações</span>
                </a>
              </li>
              <li id="list-encaminhamentos" class="item-menu bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">list</i>
                  <span class="nav-text">Encaminhamentos</span>
                </a>
              </li>
              <li id="agenda" class="item-menu bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">event_note</i>
                  <span class="nav-text">Agenda</span>
                </a>
              </li>
              <li id="relatorios" class="bold">
                <a href="#" class="waves-effect waves-cyan">
                  <i class="material-icons">trending_up</i>
                  <span class="nav-text">Relatórios</span>
                </a>
              </li>
              <li class="bold">
                <a href="https://dashboard.tawk.to/#/chat" target="_blank" class="waves-effect waves-cyan">
                  <i class="material-icons">chat</i>
                  <span class="nav-text">Chat - Administrativo</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </aside>
      <!-- END LEFT SIDEBAR NAV-->
      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <div class="section">
            <div class="divider"></div>
            <h4 class="center">Dashboard Administrativo</h4>
          </div>
        </div>
      </section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
  </div>
  <!-- END MAIN -->
  <!-- //////////////////////////////////////////////////////////////////////////// -->
  <!-- START FOOTER -->
  <footer class="page-footer gradient-45deg-light-blue-cyan">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright ©
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT</a> All rights reserved.</span>
        <span class="right hide-on-small-only"> Design and Developed by
          <a class="grey-text text-lighten-2" href="https://pixinvent.com/">PIXINVENT</a>
        </span>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
  <!-- ================================================
      Scripts
      ================================================ -->
  <!-- jQuery Library -->
  <script src='/fullcalendar/lib/jquery.min.js'></script>
  <!--Calendar-->
  <script src='/fullcalendar/lib/jquery-ui.min.js'></script>
  <script src='/fullcalendar/lib/moment.min.js'></script>
  <script src='/fullcalendar/fullcalendar.js'></script>
  <script src="/fullcalendar/locale/pt-br.js"></script>
  <!--materialize js-->
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <!--scrollbar-->
  <script type="text/javascript" src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!--plugins.js - Some Specific JS codes for Plugin Settings-->
  <script type="text/javascript" src="/js/plugins.js"></script>
  <!--custom-script.js - Add your own theme custom JS-->
  <script type="text/javascript" src="/js/custom-script.js"></script>

  

</body>

</html>