<!DOCTYPE html>
<html lang="en">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
  ================================================================================ -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>CAED UFSM | Administrativo</title>
  <!-- Favicons-->
  <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->
  <!-- CORE CSS-->
  <link href="/css/materialize.css" type="text/css" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <style>
    .material-icons{ margin-top: 10px; }
    .input-field i.prefix.active{ color: #009688 !important; }
    .input-field input:focus:not([readonly]) + label { color: #009688 !important; }
    .input-field input:focus:not([readonly]) {
        border-bottom: 1px solid #009688 !important;
        box-shadow: 0 1px 0 0 #009688 !important;
    }
  </style>
</head>

<body class="teal">
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader"></div>        
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <div class="valign-wrapper" style="width:100%;height:100%;position:absolute;">
  <div class="valign" style="width:100%;">
  <div id="login-page" class="row">
    <div class="col s10 offset-s1 m4 offset-m4 z-depth-4 card-panel">
      <div class="row">
        <div class="input-field col s12 center">
          <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
          <p class="center login-form-text">Login CAED-UFSM</p>
        </div>
      </div>
      <form action="/admin/login" method="POST" class="login-form">
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <input id="usuario" name="usuario" type="text" class="validate">
            <label for="usuario" class="center-align">Usuário</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>            
            <input id="senha" name="senha" type="password" class="validate">
            <label for="senha">Senha</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn blue waves-effect waves-light col s12">Entrar</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 right-align">
              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Esqueceu sua senha?</a></p>
          </div>          
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>

  <!-- ================================================
    Scripts
    ================================================ -->
  <!-- jQuery Library -->
  <script type="text/javascript" src="/vendors/jquery-3.2.1.min.js"></script>
  <!--materialize js-->
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <!--scrollbar-->
  <script type="text/javascript" src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <!--plugins.js - Some Specific JS codes for Plugin Settings-->
  <script type="text/javascript" src="/js/plugins.js"></script>
</body>

</html>