<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
  <link rel="stylesheet" type="text/css" href="/vendors/datatables/datatables.min.css"/>
</head>
<body>
  <% include partials/header %>

  <!-- Main -->
  <div id="main">
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Left Sidebar Nav-->
        <% include partials/aside %>
      <!-- /Left Sidebar Nav-->
      <!-- Content -->
      <section id="content">
        <div class="container">
          <div class="section">
            <% if (locals.partial) { %>
              <%- include(locals.partial) %>
            <% } %>  
          </div>
        </div>
      </section>
      <!-- /Content-->
    </div>
    <!-- /Wrapper -->
  </div>
  <!-- /Main -->

  <% include partials/footer %>
  <script src="/vendors/datatables/datatables.min.js"></script>
  <script src='/vendors/moment/moment.min.js'></script>
  <script src="/vendors/datatables/datetime-moment.js"></script>
  <script src="/js/lists/schedule-table.js"></script>
  <script src="/js/lists/init-datatable.js"></script>
  <script src="/js/lists/<%= data.name %>.js"></script>
  <script>
    // active menu style
    $(function() {
      var pathname = window.location.pathname; 
      var page = pathname.split('/')[2];
      var $submenu = $(`#p_${page}`);
      $submenu.addClass('selected');
      var $menu = $submenu.parents('li:first');
      $menu.find('a.collapsible-header').addClass('active');
      $menu.find('div.collapsible-body').css('display', 'block ');      
    });
  </script>
</body>
</html>