<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/header %>
<!-- Main -->
<div id="main">
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Content -->
      <section id="content">
          <div class="container">
              <div class="section">
                <div class="center">
                  <img src="/images/logo-ufsm.jpg" width="13%" />
                </div>
                <div class="col s12">
                  <h5>
                    <i class="material-icons prefix">
                    keyboard_arrow_right
                    </i>O que é o Núcleo de Apoio à Aprendizagem?</h5>
                  <p>O Núcleo de Apoio à Aprendizagem faz parte da Coordenadoria de Ações Educacionais (CAED) da UFSM e atua em parceria com o Ânima - Núcleo de Apoio à Aprendizagem na Educação realizando Atendimento aos estudantes da UFSM.</p>
                  <hr/>
                  <h5>
                    <i class="material-icons prefix">
                    keyboard_arrow_right
                    </i>Qual o objetivo do Núcleo?</h5>
                  <p>Orientar e assistir a comunidade universitária por meio de uma abordagem interdisciplinar de promoção, potencialização, qualificação e ressignificação dos processos de ensino e aprendizagem. Sua atuação se dá por meio de atendimentos em sessões individuais destinadas aos alunos da UFSM, nas quais são disponibilizados serviços como orientação profissional, avaliação e acompanhamento psicológico e psicopedagógico, além de atendimento educacional especializado.</p>
                  <hr/>
                  <h5>
                    <i class="material-icons prefix">
                    keyboard_arrow_right
                    </i>O que é CAED-UFSM?</h5>
                  <p>CAED-UFSM será uma aplicação web e mobile que permitirá que estudantes da UFSM solicitem atendimento junto ao Núcleo. Em complemento, os professores também poderão realizar encaminhamentos de atendimento para seus alunos. Os profissionais que atuam no núcleo poderão visualizar as solicitações e realizar os agendamentos dos atendimentos, de acordo com as sugestões de horários oferecidas pelo sistema. Além disso, será disponibilizado um serviço de mensagens instantâneas, nas quais os estudantes poderão enviar mensagens via chat, de modo a relatar suas dificuldades, problemas e necessidades.</p>
                </div>
                <div class="col s12">
                  <hr/>
                  <h5>
                    <i class="material-icons prefix">
                    keyboard_arrow_right
                    </i>Artefatos de Software</h5>
                  <ul class="artifacts">
                    <li><a href="https://docs.google.com/document/d/1Lw_iJUbmbX-NCnK6IlUA-DuQxC59HkMbqtDL-lrkyQU/edit" target="_blank">Documento de Visão</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/14t8Rt4Wa7fwnoJ98gg7XgAFmAD0_aOG_SaiosPr9G6U/edit?usp=sharing" target="_blank">Backlog do produto</a></li>
                    <li><a href="https://drive.google.com/file/d/1LvBVVv3Fb86fme1zPxotSsrrh40F6DgL/view" target="_blank">Diagrama de Casos de Uso</a></li>
                  </ul>                
                </div>
              </div>
          </div>
      </section>
      <!-- /Content-->
    </div>
    <!-- /Wrapper -->
</div>
<!-- /Main -->

  <% include partials/footer %>
</body>
</html>