<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
</head>
<body>
  <% include partials/header %>
        <!-- Main -->
        <div id="main">
            <!-- Wrapper -->
            <div class="wrapper">
                <!-- Content -->
                <section id="content">
                    <div class="container">
                        <div class="section">
                            <div class="col s12">
                            <h4 class="center">Tarefas testes - CAED UFSM</h4>

                            <h5></h5>
                            <p align="justify">
                                
                            </p>
                            <h5></h5>
                            <p align="justify">

                            </p>
                        </div>
                        </div>
                    </div>
                </section>
                <!-- /Content-->
            </div>
            <!-- /Wrapper -->
        </div>
        <!-- /Main -->
</body>

</html>