<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <style>
            .collapsible-header h5 {
                text-align: left;
                font-size: 23px;
            }

            i.material-icons {
                margin-right: 2px;
            }

            #main {
                padding-left: 0%;
                padding-right: 0%;
            }

            .modal .modal-content {
                padding: 10px;
            }

            @media only screen and (max-width: 992px) {
                .modal {
                    width: 95%;
                    max-height: 90%;
                }
            }
        </style>
</head>

<body>
    <% include partials/header %>
        <!-- Main -->
        <div id="main">
            <!-- Wrapper -->
            <div class="wrapper">
                <!-- Content -->
                <section id="content">
                    <div class="container">
                        <div class="section">
                            <div class="row">
                                <div class="col s12 m4 l2"></div>
                                <div class="col s12 m4 l8">
                                    <h4 class="center">Tarefas - CAED UFSM</h4>

                                    <ul class="collapsible popout " data-collapsible="accordion">
                                        <li>
                                            <div class="collapsible-header gradient-45deg-indigo-light-blue white-text">

                                                <h5>
                                                    <i class="material-icons">phone_android</i>
                                                    Tarefas aplicação PWA
                                                </h5>
                                            </div>
                                            <div class="collapsible-body">
                                                <span> Usuários: Alunos UFSM</span>
                                                <ol>
                                                    <li>
                                                        <a href="https://caedufsm.herokuapp.com/" target="_blank">Acessar aplicação
                                                            <i class="material-icons">open_in_new</i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="modal-trigger" href="#modal_pwa">
                                                            Instalar PWA (caso o acesso seja mobile)
                                                        </a>
                                                    </li>
                                                    <li>
                                                        Visualizar informações gerais do aplicativo
                                                        <a class="tooltipped" data-position="bottom" data-tooltip='Itens "CAED" e "Sobre" no menu'>
                                                            <i class="material-icons small">info_outline</i>
                                                        </a>

                                                    </li>
                                                    <li>
                                                        Solicitar atendimento por meio do formulário
                                                        <a class="tooltipped" data-position="bottom" data-tooltip='Itens "Solicitar atendimento" no menu'>
                                                            <i class="material-icons small">info_outline</i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        Serviço de mensagens instantâneas
                                                        <a class="tooltipped" data-position="bottom" data-tooltip='Item "Conversar com alguém" no menu'>
                                                            <i class="material-icons small">info_outline</i>
                                                        </a>
                                                        <ul>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                Fazer login com matrícula e senha do portal do aluno
                                                            </li>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                Iniciar chat com profissionais da CAED
                                                            </li>
                                                        </ul>
                                                    </li>

                                                </ol>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header gradient-45deg-indigo-light-blue white-text">

                                                <h5>
                                                    <i class="material-icons">web</i>
                                                    Tarefas Sistema Web - Administrativo
                                                </h5>
                                            </div>
                                            <div class="collapsible-body">
                                                <span>Versão testável estará disponível dia 16/10/2018.</span>
                                                <ol>
                                                    <li>
                                                        <a href="/admin" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Solicitar aos desenvolvedores'>Acessar o sistema com login e senha pré-definidos.
                                                            <i class="material-icons">open_in_new</i>
                                                        </a>
                                                    </li>
                                                    <li>Visualizar grades de horários
                                                        <ul>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/profissionais" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item "Profissionais" no menu'>Horários de profissionais
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/salas" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item ""Salas" no menu'>Horários de salas
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Visualizar todas solicitações
                                                        <ul>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/solicitacoes" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item "Solicitações" no menu'>Solicitações de alunos
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/encaminhamentos" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item "Encaminhamentos" no menu'>Encaminhamentos de professores
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>Realizar agendamentos
                                                        <ul>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/agenda-salas" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item "Agenda Salas" no menu'>Visualizar e agendar horários dos profissionais nas salas
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <i class="material-icons small">arrow_forward</i>
                                                                <a href="/admin/agenda-atendimentos" target="_blank" class="tooltipped" data-position="bottom" data-tooltip='Item "Agenda Atendimentos" no menu'>Visualizar e agendar atendimentos aos alunos
                                                                    <i class="material-icons">open_in_new</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header gradient-45deg-indigo-light-blue white-text">
                                                <h5>
                                                    <i class="material-icons">chat</i>
                                                    Questionário aos usuários
                                                </h5>
                                            </div>
                                            <div class="collapsible-body">
                                                <ol>
                                                    <li>
                                                        <a href="https://goo.gl/rKh4x1" target="_blank">Questionário alunos
                                                            <i class="material-icons">open_in_new</i>
                                                        </a>
                                                    </li>
                                                </ol>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s12 m4 l2"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /Content-->
            </div>
            <!-- /Wrapper -->
        </div>
        <!-- /Main -->
        <div id="modal_pwa" class="modal">
            <div class="modal-content">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            <h5>O que é um PWA?</h5>
                        </div>
                        <div class="collapsible-body">
                            <p>PWAs (Progressive Web Apps), são aplicações web, que podem ser acessadas em várias plataforms
                                através de um browser, mas que também podem ser instaladas em seu celular.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <h5>Como instalar PWAs em seu celular?</h5>
                        </div>
                        <div class="collapsible-body">
                            <p>Ao acessar a aplicação no seu browser, você poderá instalar de duas formas. Caso apareça a opção
                                da primeira imagem no seu primeiro acesso, basta clicar. Se não, você deve clicar no menu
                                de opções do seu navegador e selecionar a opção "Adicionar à tela inicial", como consta na
                                segunda imagem.
                            </p>
                            <div class="col s12">
                                <img src="/images/pwa_1.svg" width="49%" />
                                <img src="/images/pwa_2.svg" width="49%" />
                            </div>
                    </li>
                </ul>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
                </div>
            </div>

            <% include partials/footer %>
</body>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.collapsible').collapsible();
        $('.tooltipped').tooltip({ delay: 50 });
    });
</script>

</html>