.calendar h2 {
  font-size: 22px;
}

.calendar a[data-goto] {
  color: #444;
}

.sala.card .card-action {
  border-top: 1px solid #FFF !important;  a
}

.sala.card .card-action button.link {
	margin-right: 0;
	background-color: transparent;
	border: none;
}

.sala.card .card-action button.link:hover {
	color: #333 !important;
}

.sala.card .card-action .material-icons {
	font-size: 12px;
}

.preloader-wrapper.loader {
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

a.modal-trigger:hover,
a.modal-trigger:focus {
	background-color: #03a5fc;
	color: #fff;
}

table.dataTable.display tbody tr.odd > .sorting_1 {
	background-color: #f9f9f9 !important;
}

table.dataTable.display tbody tr.even > .sorting_1 {
	background-color: #fff !important;
}

.nav-expanded .brand-sidebar {
	background-color: transparent !important;
}

button.btn.btn-logout {
	background-color: transparent;
}

button.btn.btn-logout:hover,
button.btn.btn-logout:focus {
	color: #333;
}

button.btn.btn-logout > i {
	line-height: 36px;
}

.brand-sidebar .logo-wrapper a.navbar-toggler i {
	font-size: 18px;
    line-height: 30px;
}