.base-color {
	background-color: #204C90 !important;
}

.base-color:hover {
	color: #CC8F00 !important;
}

.base-color-dark {
	background-color: #21376C !important;
}

.detail-color {
	color: #CC8F00 !important;
}

.side-nav .collapsible-body li a, 
.side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px !important;
}

.brand-sidebar h1 span.logo-text {
	padding-left: 0px;
}

.brand-sidebar h1.logo-wrapper {
	padding-left: 14px;
}

.nav-collapsed .brand-sidebar .brand-logo span {
	visibility: hidden;
}

@media only screen and (max-width: 992px) {
	aside .brand-sidebar .logo-wrapper {
	    padding: 21px 18px;
	}
}

ul.side-nav.leftside-navigation li:not(.no-padding).selected,
.side-nav .collapsible-body > ul:not(.collapsible) > li.selected, 
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

ul.side-nav.leftside-navigation li:not(.no-padding).selected > a,
.side-nav .collapsible-body > ul:not(.collapsible) > li.selected > a, 
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.selected > a,
ul.side-nav.leftside-navigation li:not(.no-padding).selected > a > i,
.side-nav .collapsible-body > ul:not(.collapsible) > li.selected > a > i, 
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.selected > a > i {
	color: #204C90;
}

li.highlight > a,
li.highlight > a > i{
	color: #204C90 !important;
}

.calendar h2 {
  font-size: 22px;
}

.calendar a[data-goto] {
  color: #444;
}

.calendar .fc-highlight {
	background-color: #117D11 !important;
	opacity: .8 !important;
}

.sala.card .card-action {
  border-top: 1px solid #FFF !important;  a
}

.sala.card .card-action button.link {
	margin-right: 0;
	background-color: transparent;
	border: none;
}

.sala.card .card-action button.link:hover {
	color: #CC8F00 !important;
}

.sala.card .card-action .material-icons {
	font-size: 12px;
}

.preloader-wrapper.loader {
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

table.dataTable.display tbody tr.hasEvent > td {
	background-color: #81C784 !important;
	border-radius: 0px;
}



.nav-expanded .brand-sidebar {
	background-color: transparent !important;
}

button.btn.btn-logout {
	background-color: transparent;
}

button.btn.btn-logout:hover,
button.btn.btn-logout:focus {
	color: #CC8F00;
}

button.btn.btn-logout > i {
	line-height: 36px;
}

.btn-side {
	padding: 0 0.5rem !important;
	width: 175px;
	text-align: left;
	display: block;
	margin: 5px;
}

.brand-sidebar .logo-wrapper a.navbar-toggler i {
	font-size: 18px;
    line-height: 30px;
}

.fc-event > .delete-external-event > .material-icons {
    line-height: 16px;
}

.fc-event > .delete-external-event > .material-icons:hover {
	color: #a20000;
}

#table-buttons {
	margin-bottom: 10px !important;
}

#table-buttons .dt-button {
	font-size: 12px;
}

#table-buttons .dt-button:hover {
	color: #204C90;
}

#table-buttons .dt-button i.material-icons {
	font-size: 17px;
}

a.btn-horarios {
	background-color: #204C90;
	color: #fff;
	margin-left: 5px;
	padding: 0 20px 0 5px;
}

a.btn-horarios:hover,
a.btn-horarios:focus {
	background-color: #204C90;
	color: #CC8F00;
}

.external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
}

#modal-new-event.modal {
	max-height: 100%;
}

#optionsModal {
	width: 50% !important;
}

#optionsModal div.row {
	text-align: center;
}

#optionsModal button {
	width: 75%;
	color: #fff;
}

#optionsModal button:hover {
	color: #000;
}

.modal_agenda h4 {
	font-size: 1.8rem;
}

.modal_agenda button:hover {
	color: #000;
}

.modal_agenda button.btn-schedule {
	background-color: #339933;
}

.modal_agenda button.btn-delete {
	background-color: #cc0000;
}

.modal_agenda p {
	font-size: 16px;
	font-family: 'Ubuntu';
}

.modal_confirmation {
	width: 35%;
}

.modal_confirmation .modal-footer {
	text-align: center;
}

.modal_confirmation button {
	color: #fff;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: #204C90 !important;
    
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #31b131 !important;
}

ul .btn-floating {
	margin-bottom: 5px;
}

h5.chart-title {
	font-family: 'Ubuntu';
	font-size: 1.5rem; 
}

ul.legenda li {
	font-family: 'Ubuntu';
}

ul.legenda li i {
	margin-right: 3px;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
	stroke: #f44336 !important;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
	stroke: #2196f3 !important;
}

.ct-bar {
	stroke-width: 20px !important;
}