.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px !important;
}

.calendar h2 {
  font-size: 22px;
}

.calendar a[data-goto] {
  color: #444;
}

.calendar .fc-highlight {
	background-color: #117D11 !important;
	opacity: .8 !important;
}

.sala.card .card-action {
  border-top: 1px solid #FFF !important;  a
}

.sala.card .card-action button.link {
	margin-right: 0;
	background-color: transparent;
	border: none;
}

.sala.card .card-action button.link:hover {
	color: #333 !important;
}

.sala.card .card-action .material-icons {
	font-size: 12px;
}

.preloader-wrapper.loader {
	position: absolute;
	top :0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

table.dataTable.display tbody tr.odd > .sorting_1 {
	background-color: #f9f9f9 !important;
}

table.dataTable.display tbody tr.even > .sorting_1 {
	background-color: #fff !important;
}

.nav-expanded .brand-sidebar {
	background-color: transparent !important;
}

button.btn.btn-logout {
	background-color: transparent;
}

button.btn.btn-logout:hover,
button.btn.btn-logout:focus {
	color: #333;
}

button.btn.btn-logout > i {
	line-height: 36px;
}

.brand-sidebar .logo-wrapper a.navbar-toggler i {
	font-size: 18px;
    line-height: 30px;
}

.fc-event > .delete-external-event > .material-icons {
    line-height: 16px;
}

.fc-event > .delete-external-event > .material-icons:hover {
	color: red;
}

#table-buttons {
	margin-bottom: 10px !important;
}

#table-buttons .dt-button {
	font-size: 12px;
}

#table-buttons .dt-button:hover {
	color: #2196F3;
}

#table-buttons .dt-button i.material-icons {
	font-size: 17px;
}

a.btn-horarios {
	background-color: #2196F3;
	color: #fff;
	margin-left: 5px;
	padding: 0 20px 0 5px;
}

a.btn-horarios:hover {
    background-color: #03a5fc;
	color: #333;
}

.external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
}