<% if ( locals.authUrl ) { %>
  <% include ../partials/read-token %>
<% } else { %>
  <div id="hoverable-table">
    <h4 class="header">Salas</h4>
    <div class="row">
      <div class="col s12">
        <table class="highlitgh" id="list-salas">
          <thead>
            <tr>
              <th>Sala</th>
              <th>09h-10h</th>
              <th>10h-11h</th>
              <th>11h-12h</th>
              <th>13h-14h</th>
              <th>14h-15h</th>
              <th>15h-16h</th>
              <th>16h-17h</th>
              <th>17h-18h</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sala 101</td>
              <td>Segunda, terça, quinta</td>
              <td>Segunda, terça, quinta</td>
              <td>Segunda, terça, quinta</td>
              <td>Segunda, terça, quinta</td>
              <td>Quarta, sexta</td>
              <td>Quarta, sexta</td>
              <td>Quarta, sexta</td>
              <td>Quarta, sexta</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row right">
    <div class="fixed-action-btn action-btn" id="form-categorias">
      <a href="#" class="btn-floating blue accent-2 btn-large waves-effect waves-light right">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
<% } %>