<% if ( locals.authUrl ) { %>
	<% include ../partials/read-token %>
		<% } else { %>
			<div id="hoverable-table">
				<h4 class="header">Solicitações</h4>
				<% if ( locals.data ) { %>
					<div class="row">
						<div class="col s12">
							<h4>
								<%= data[0][2] %>
							</h4>
							<table class="layout display responsive-table">
								<tr>
									<th>Horários</th>
									<th>Segunda-feira</th>
									<th>Terça-feira</th>
									<th>Quarta-feira</th>
									<th>Quinta-feira</th>
									<th>Sexta-feira</th>
								</tr>
								<% for (var row = 1	; row < data.length; row++) { %>
									<tr>
										<td>
											<%= data[row][0] %>
										</td>
										<% for (var a = 0; a < data[row].length; a++) { %>
											<td>
												<%= data[row][2][a] %>
											</td>
											<% }; %>
									</tr>
									<% }; %>
							</table>

						</div>
					</div>
					<% } else { %>
						<p>Data is empty</p>
						<% } %>
			</div>
			<% } %>