<!-- Header -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper">
          <div class="<%= locals.arrow %>">
              <a href="<%= locals.next%>">
                <i class="material-icons" style="display: inline-block; font-size: 36px;">
                    keyboard_arrow_<%= locals.arrow %>
                </i>
              </a>
          </div>
      </div>
    </nav>
  </div>
  <!-- end header nav-->
</header>
<!-- /Header -->
