<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CAED UFSM | Administrativo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Materialize -->
<link href="/css/materialize.css" type="text/css" rel="stylesheet">
<link href="/css/style.css" type="text/css" rel="stylesheet">
<link href="/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">

<!-- CSS plugin -->
<link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
<style>
	p, ul {
		text-align: justify;
	}
	.page-footer .footer-copyright-custom {
	    overflow: hidden;
	    align-items: center;
	    padding: 6px 0px;
    }

    #main {
   		padding-left: 5%;
   		padding-right: 5%;
    }

    ul.artifacts:not(.browser-default) > li, ul.artifacts:not(.browser-default) {
    	list-style-type: unset !important;
    	margin-left: 2%;
	}
</style>