<div id="hoverable-table">
	<h4 class="header">Encaminhamentos</h4>
	<div class="row">
		<div class="col s12">
			<% if ( !locals.data ) { %>
				<p>Não há dados!</p>
			<% } else { %>
					<table class="bordered striped centered highlight responsive-table">
						<tr>
							<% for (var col = 1; col < data[0].length; col++) { %>
								<th>
									<%= data[0][col] %>
								</th>
							<% }; %>
						</tr>
						<% for (var row = 1; row < (data.length - 1); row++) { %>
							<tr>
								<% for (var col = 1; col < data[row].length; col++) { %>
									<td>
										<%= data[row][col] %>
									</td>
								<% }; %>
							</tr>
						<% }; %>
					</table>
			<% }; %>
		</div>
	</div>
</div>
