<div class="row">
	<div id="solicitacoes">
	  <div class="col s12">
	  	<% include ../loader %>
		<h4 class="header">Solicitações de Atendimento</h4>
      	<div id="table-buttons" class="row"></div>
		<table id="table-solicitacoes" class="display responsive nowrap bordered">
		  <thead>
			<tr>
				<th>Data</th>
				<th>Matrícula</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Tipo de atendimento</th>
				<th class="none">Curso: </th>
				<th class="none">Telefone: </th>
				<th class="none">Possui deficiência? </th>
				<th class="none">É intercâmbista? </th>
				<th class="none">Motivo da procura: </th>
				<th class="none">Já foi atendido? </th>
				<th class="none">Motivo do encerramento: </th>
				<th class="none">Horários livres: </th>
			</tr>
		  </thead>
		  <tbody></tbody>
		  <tfoot>
			<tr>
				<th>Data</th>
				<th>Matrícula</th>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Tipo de atendimento</th>
				<th class="none">Curso: </th>
				<th class="none">Telefone: </th>
				<th class="none">Possui deficiência? </th>
				<th class="none">É intercâmbista? </th>
				<th class="none">Motivo da procura: </th>
				<th class="none">Já foi atendido? </th>
				<th class="none">Motivo do encerramento: </th>
				<th class="none">Horários livres: </th>
			</tr>
		  </tfoot>
		</table>
		</div>
	</div>
</div>