<div class="row">
  <div id="salas">
    <div class="col s12">
      <h4 class="header">Salas</h4>
      <div id="table-buttons" class="row"></div>
      <table id="table-salas" class="layout display responsive-table bordered">
        <thead>
          <tr>
            <th>Sala</th>
            <th>Horários Livres</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <% include ../loader %>
  </div>
</div>