<div class="row">
  <div class="col s12">
    <h4 class="header">Salas</h4>
    <% if ( !locals.data ) { %>
      <p>Não há dados!</p>
    <% } else { %>
      <% for (var col = 1; col < data[0].length; col++) { %>
        <ul class="collapsible popout " data-collapsible="accordion">
          <li>
            <div class="collapsible-header gradient-45deg-indigo-light-blue white-text">
              <%= data[0][col] %>
            </div>
            <div class="collapsible-body">
              <table class="layout display responsive-table bordered">
                <tr>
                  <th>Horários</th>
                  <th class="center">Segunda-feira</th>
                  <th class="center">Terça-feira</th>
                  <th class="center">Quarta-feira</th>
                  <th class="center">Quinta-feira</th>
                  <th class="center">Sexta-feira</th>
                </tr>
                <% for (var row = 1 ; row < (data.length - 1); row++) { %>
                  <tr>
                    <td>
                      <%= data[row][0] %>
                    </td>
                    <% if(data[row][col] != null) { %>
                      <% for (var a = 0; a < data[row][col].length; a++) { %>
                        <% if(data[row][col][a]) {%>
                          <td class="center green lighten-3 white-text">
                            <i class="material-icons">check_circle</i>
                          </td>
                        <% } else {%>
                          <td class="center red lighten-3 white-text">
                            <i class="material-icons">cancel</i>
                          </td>
                        <% } %> 
                      <% }; %>
                      <% } %> 
                  </tr>
                <% }; %>
              </table>
            </div>
          </li>
        </ul>
      <% }; %>
    <% } %>
  </div>
</div>