<div class="row">
	<div id="encaminhamentos">
	  <div class="col s12">
		<h4 class="header">Encaminhamentos</h4>
		<table id="table-encaminhamentos" class="layout display responsive-table bordered">
		  <thead>
			<tr>
			  <th>Nome</th>
			  <th>E-mail</th>
			  <th>Curso</th>
			  <th>Matrícula</th>
			  <th>Telefone</th>
			  <th>Motivo da procura</th>
				<th>Tipo de atendimento</th>
				<th>Horários livres</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
		</div>
		<% include ../loader %>
	</div>
</div>