<div class="row">
	<div id="encaminhamentos">
	  <div class="col s12">
	  	<% include ../loader %>
		<h4 class="header">Encaminhamentos</h4>
    	<div id="table-buttons" class="row"></div>
		<table id="table-encaminhamentos" class="layout display responsive-table bordered">
		  <thead>
			<tr>
				<th>Data</th>
				<th>Matrícula</th>
				<th>Nome estudante</th>
				<th>E-mail estudante</th>
				<th>Tipo de atendimento</th>
				<th class="none">Curso: </th>
				<th class="none">Telefone: </th>
				<th class="none">Possui deficiência? </th>
				<th class="none">É intercâmbista? </th>
				<th class="none">Nome do servidor: </th>
				<th class="none">SIAPE do servidor: </th>
				<th class="none">E-mail do servidor: </th>
				<th class="none">Motivo do encaminhamento: </th>
				<th class="none">Horários livres: </th>
			</tr>
		  </thead>
		  <tbody></tbody>
		  <tfoot>
			<tr>
				<th>Data</th>
				<th>Matrícula</th>
				<th>Nome estudante</th>
				<th>E-mail estudante</th>
				<th>Tipo de atendimento</th>
				<th class="none">Curso: </th>
				<th class="none">Telefone: </th>
				<th class="none">Possui deficiência? </th>
				<th class="none">É intercâmbista? </th>
				<th class="none">Nome do servidor: </th>
				<th class="none">SIAPE do servidor: </th>
				<th class="none">E-mail do servidor: </th>
				<th class="none">Motivo do encaminhamento: </th>
				<th class="none">Horários livres: </th>
			</tr>
		  </tfoot>
		</table>
		</div>
	</div>
</div>