<!-- Left Sidebar -->
<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="/admin/dashboard" class="brand-logo darken-1">
        <span class="logo-text">CAED <span class="detail-color">|</span> UFSM</span>
      </a>
      <a href="#" class="navbar-toggler">
        <i class="material-icons detail-color">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold" id="p_dashboard">
          <a href="/admin/dashboard" class="waves-effect waves-cyan">
            <i class="material-icons">dashboard</i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        <li class="bold">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="material-icons">alarm</i>
            <span class="nav-text">Grade de horários</span>
          </a>
          <div class="collapsible-body">
            <ul>
              <li id="p_salas">
                <a href="/admin/salas">
                  <i class="material-icons">weekend</i>
                  <span>Salas</span>
                </a>
              </li>
              <li id="p_profissionais">
                <a href="/admin/profissionais">
                  <i class="material-icons">assignment_ind</i>
                  <span>Profissionais</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold active">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="material-icons">list</i>
            <span class="nav-text">Lista de solicitações</span>
          </a>
          <div class="collapsible-body">
            <ul>
              <li id="p_solicitacoes">
                <a href="/admin/solicitacoes">
                  <i class="material-icons">format_list_numbered</i>
                  <span>Solicitações</span>
                </a>
              </li>
              <li id="p_encaminhamentos">
                <a href="/admin/encaminhamentos">
                  <i class="material-icons">format_list_numbered</i>
                  <span>Encaminhamentos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold active" id="p_agenda">
          <a class="collapsible-header waves-effect waves-cyan">
            <i class="material-icons">event_note</i>
            <span class="nav-text">Agenda</span>
          </a>
          <div class="collapsible-body">
            <ul>
              <li id="p_agenda_profissionais"> 
                <a href="/admin/agenda/profissionais">
                  <i class="material-icons">assignment_ind</i>
                  <span>Profissionais</span>
                </a>
              </li>
              <li id="p_agenda_atendimentos">
                <a href="/admin/agenda/atendimentos">
                  <i class="material-icons">group</i>
                  <span>Atendimentos</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold">
          <a href="https://dashboard.tawk.to/#/chat" class="waves-effect waves-cyan">
            <i class="material-icons">chat</i>
            <span class="nav-text">Chat - Administrativo</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- ./Left Sidebar -->