<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details light-blue-cyan">
      <div class="row">
        <div class="col s8 m8 l8">
          <ul id="profile-dropdown-nav" class="dropdown-content">
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">face</i> Perfil</a>
            </li>
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">settings</i> Configurações</a>
            </li>
            <li>
              <a href="#" class="grey-text text-darken-1">
                <i class="material-icons">live_help</i> Ajuda</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="logout" class="grey-text text-darken-1">
                <i class="material-icons">keyboard_tab</i> Sair</a>
            </li>
          </ul>
          <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown-nav">John Doe
            <i class="mdi-navigation-arrow-drop-down right"></i>
          </a>
          <p class="user-roal">Administrador</p>
        </div>
      </div>
    </li>
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
          <a href="/admin/dashboard" class="waves-effect waves-cyan">
            <i class="material-icons">dashboard</i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
        <li class="item-menu bold">
          <a href="/admin/profissionais" class="waves-effect waves-cyan">
            <i class="material-icons">group</i>
            <span class="nav-text">Profissionais</span>
          </a>
        </li>
        <li class="item-menu bold">
          <a href="/admin/salas" class="waves-effect waves-cyan">
            <i class="material-icons">format_list_numbered</i>
            <span class="nav-text">Salas</span>
          </a>
        </li>
        <li class="item-menu bold">
          <a href="/admin/solicitacoes" class="waves-effect waves-cyan">
            <i class="material-icons">list</i>
            <span class="nav-text">Solicitações</span>
          </a>
        </li>
        <li class="item-menu bold">
          <a href="/admin/encaminhamentos" class="waves-effect waves-cyan">
            <i class="material-icons">list</i>
            <span class="nav-text">Encaminhamentos</span>
          </a>
        </li>
        <li class="item-menu bold">
          <a href="/admin/agenda" class="waves-effect waves-cyan">
            <i class="material-icons">event_note</i>
            <span class="nav-text">Agenda</span>
          </a>
        </li>
        <li class="bold">
          <a href="/admin/relatorios" class="waves-effect waves-cyan">
            <i class="material-icons">trending_up</i>
            <span class="nav-text">Relatórios</span>
          </a>
        </li>
        <li class="bold">
          <a href="https://dashboard.tawk.to/#/chat" target="_blank" class="waves-effect waves-cyan">
            <i class="material-icons">chat</i>
            <span class="nav-text">Chat - Administrativo</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
</aside>