<!-- Footer -->
<footer class="page-footer gradient-45deg-light-blue-cyan">
	<div class="footer-copyright">
	  <div class="container">
	    <span>Copyright © 2018</span>
	    <span class="right hide-on-small-only"> Desenvolvido por</span>
	  </div>
	</div>
</footer>
<!-- /Footer -->

<!-- jQuery Library -->
<script src="/vendors/jquery/jquery.min.js"></script>
<!-- Materialize -->
<script src="/vendors/materialize/materialize.min.js"></script>
<!-- Perfect Scrollbar -->
<script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- Specific JS codes for Plugin Settings -->
<script src="/vendors/plugins/plugins.js"></script>