<!-- Footer -->
<footer class="page-footer base-color">
	<div class="footer-copyright">
	  <div class="container">
	    <span class="right hide-on-small-only">Copyright © 2018 | SI</span>
	  </div>
	</div>
</footer>
<!-- /Footer -->

<!-- jQuery Library -->
<script src="/vendors/jquery/jquery.min.js"></script>
<!-- Materialize -->
<script src="/vendors/materialize/materialize.min.js"></script>
<!-- Perfect Scrollbar -->
<script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- Specific JS codes for Plugin Settings -->
<script src="/vendors/plugins/plugins.js"></script>