<!-- Footer -->
<footer class="page-footer light-blue-cyan">
  <div class="footer-copyright">
    <div class="container">
      <span class="right">Copyright ©
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      </span>
    </div>
  </div>
</footer>
<!-- /Footer ->

<!-- jQuery Library -->
<script src="/js/jquery.min.js"></script>
<!--materialize js-->
<script src="/js/materialize.min.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script src="/js/plugins.min.js"></script>
<!--scrollbar-->
<script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>