<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CAED UFSM | Administrativo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Materialize -->
<link href="/css/custom/custom.css" type="text/css" rel="stylesheet" />
<link href="/css/materialize.css" type="text/css" rel="stylesheet">
<link href="/css/style.css" type="text/css" rel="stylesheet">
<link href="/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">

<!-- jQuery Library -->
<script src="/js/jquery.min.js"></script>