<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>CAED UFSM | Administrativo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Materialize -->
<link href="/vendors/materialize/materialize.css" type="text/css" rel="stylesheet">
<link href="/vendors/materialize/style.css" type="text/css" rel="stylesheet">
<!-- Perfect Scrollbar -->
<link href="/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet"></link>
<!-- Custom Css -->
<link href="/css/custom.css" type="text/css" rel="stylesheet"></link>