<!-- Page Loading -->
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- /Page Loading -->

<!-- Header -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color base-color">
      <div class="nav-wrapper">
        <!--<div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
          <i class="material-icons">search</i>
          <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Pesquisar" />
        </div>-->
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
              <span class="avatar-status avatar-online">
                <img src="/images/avatar/avatar-7.png" alt="avatar">
                <i></i>
              </span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
              <form method="POST" action="/auth/logoff">
                <button type="submit" name="action" class="btn btn-logout">Sair
                    <i class="material-icons right">exit_to_app</i>
                  </button>
              </form>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /Header -->