<!-- Modal Structure -->
<div id="modal-legenda-cores" class="modal">
  <div class="modal-content">
    <h4 class="header">Legenda Cores</h4>
    <div class="row">
      <div class="col s12 m6">
        <span><b>Especialidade do profissonal</b></span>
        <ul>
          <li>
            <div class="col s3">
              <a class="btn-floating red"></a>
            </div>
            <div class="col s9">
              <p>Psicologia</p>
            </div>
          </li>
          <li>
            <div class="col s3">
              <a class="btn-floating purple"></a>
            </div>
            <div class="col s9">
              <p>Psicopedagogia</p>
            </div>
          </li>
          <li>
            <div class="col s3">
              <a class="btn-floating teal"></a>
            </div>
            <div class="col s9">
              <p>Pedagogia</p>
            </div>
          </li>
          <li>
            <div class="col s3">
              <a class="btn-floating amber"></a>
            </div>
            <div class="col s9">
              <p>Educação Especial</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col s12 m6">
        <span><b>Tipo do atendimento</b></span>
        <ul>
          <li>
            <div class="col s3">
              <a class="btn-floating blue"></a>
            </div>
            <div class="col s9">
              <p>Psicológico</p>
            </div>
          </li>
          <li>
            <div class="col s3">
              <a class="btn-floating yellow darken-4"></a>
            </div>
            <div class="col s9">
              <p>Psicopedagógico</p>
            </div>
          </li>
          <li>
            <div class="col s3">
              <a class="btn-floating grey"></a>
            </div>
            <div class="col s9">
              <p>Orientação Profissional</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
  </div>
</div>