<style>
	.input-field .helper-text {
	  display: block;
	  font-size: 12px;
	  margin-left: 3rem;
	}
	.input-field .material-icons {
		margin-top: 10px;
	}
	.input-field .materialize-textarea {
		margin-bottom: 0px;
	}
</style>
<p>É necessário autorizar o acesso a planilha!</p>
<p>Acesse a URL <a href="<%- locals.authUrl -%>" target="_blank">clicando aqui</a>.</p>
<div class="row">
  <div class="col s12 m8">
  	<form action="/admin/storeToken" method="POST">
	  	<div class="row margin">
	      <div class="input-field col s12">
					<i class="material-icons prefix">fingerprint</i>
	        <textarea id="token" name="token" class="materialize-textarea validate" required></textarea>
	      	<label for="token">Token</label>
	        <span class="helper-text">Cole o texto no espaço acima</span>
	      </div>
	    </div>
	    <div class="row margin">
		    <button class="btn blue waves-effect waves-light right" type="submit" name="action">Enviar
		    	<i class="material-icons right">send</i>
		  	</button>     
			</div>
  	</form>
	</div>
<div>